<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <p>
    <div th:if="${login_user}">
      Hi [[${login_user}]]
    </div>
  <h2>エントリー</h2>
    <ul>
      <li th:each="user,stat:${users}">[[${user.name}]]</li>
    </ul>
  </div>
  <p>
    <a href="/rock">グー</a>
    <a href="/scissors">チョキ</a>
    <a href="/paper">パー</a>
  </p>
  <div th:if="${result}">
    あなたの手 [[${yourhand}]]</br>
    あいての手 グー</br>
    結果 [[${result}]]</br>
  </div>
</body>

</html>
